## Ignore Visual Studio Code specific files ##
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json

### Ignore temporary files, build results, and other files generated ###
*.exe
*.class
